@page "/"
@using MyBlog.Data.Interfaces
@using MyBlog.Data.Models
@inject IMyBlogApi api

<button @onclick="AddSomePosts">Add some fake posts</button>
<br />
<br />
<ul>
    @foreach (var p in posts)
    {
        <li>@p.Title</li>
    }
</ul>

@code
{
    protected List<BlogPost> posts = new List<BlogPost>();

    protected async Task AddSomePosts()
    {
        for (int i = 1; i <= 10; i++)
        {
            await api.SaveBlogPostAsync(new BlogPost() // TODO: causes runtime error
                {
                    PublishDate = DateTime.Now,
                    Title = $"Blog post {i}",
                    Text = "Text"
                });
        }
    }

    protected override async Task OnInitializedAsync()
    {
        //posts = await api.GetBlogPostsAsync(10, 0); // TODO: causes runtime error
        await base.OnInitializedAsync();
    }
}


