@page "/"
@using MyBlog.Data.Interfaces
@using MyBlog.Data.Models
@inject IMyBlogApi api

<button @onclick="AddSomePosts">Add some fake posts</button>
<br />
<br />
<ul>
    @foreach (var p in posts)
    {
        <li>@p.Title</li>
    }
</ul>

@code
{
    protected List<BlogPost> posts = new List<BlogPost>();

    protected async Task AddSomePosts()
    {
        api.GetTableNames();
        var category = new Category() { Name = "New Category" };
        try
        {
            category = await api.SaveCategoryAsync(category); // TODO: causes runtime error
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }

        for (int i = 0; i < 10; i++)
        {
            var post = new BlogPost() 
                {
                    PublishDate = DateTime.Now,
                    Title = $"Blog post {i}",
                    Text = "Text",
                    Category = category
                };
            try
            {
                await api.SaveBlogPostAsync(post); // TODO: causes runtime error
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
                posts.Add(post);
            }

        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            posts = await api.GetBlogPostsAsync(10, 0); // TODO: causes runtime error
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            posts = new List<BlogPost>();
        }

        await base.OnInitializedAsync();
    }
}


